::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: black;
}

::-webkit-scrollbar
{
  width: 10px;
  background-color: green;
}

::-webkit-scrollbar-thumb
{
  background-color: #018eb6;
  border-radius: 50px;
}


* {
  margin:0;
  padding:0;
  
}
 

body {
  background: #161616;
}

header nav {
  width:100%;
  
  margin:20px auto;
  background:rgba(0,0,0, 0.4);
  position: fixed;
}
.modalDialog{
    display: inline-block;}

.menu_bar {
  display:none;
}
#logoi{
  width: 100%;
  height: 100%;

}
 #contlogo{
  width: 13%;
  height: 150px;
  position: relative;
    top: 110px;
 
    left: 20px;
 }
 
header nav ul {
  overflow:hidden;
  list-style:none;
}
 
header nav ul li {
  float:left;
}
 
header nav ul li a {
  color:#fff;
  padding:20px;
  display:block;
  text-decoration:none;

}
 
header nav ul li span {
  margin-right:10px;
}
 
header nav ul li a:hover {
  background:rgba(0,0,0, 0.5);
  color: #018eb6;
}
}
 
section {
  padding:20px;
}
a { 
  text-decoration:none; 
  color:#00c6ff;
}
.container {width: 960px; margin: 0 auto; overflow: hidden;}

#content {  float: left; width: 100%;}

.post { margin: 0 auto; padding-bottom: 50px; float: left; width: 960px; }

#mask {
  display: none;
  background: #000; 
  position: fixed; left: 0; top: 0; 
  z-index: 10;
  width: 100%; height: 100%;
  opacity: 0.8;
  z-index: 999;
}

.login-popup{
  display:none;
  background: #333;
  padding: 10px;  
  border: 2px solid #ddd;
  float: left;
  font-size: 1.2em;
  position: fixed;
  top: 50%; left: 50%;
  z-index: 99999;
  box-shadow: 0px 0px 20px #999;
  -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
  border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
}

img.btn_close {
  float: right; 
  margin: -28px -28px 0 0;
}

fieldset { 
  border:none; 
}

form.signin .textbox label { 
  display:block; 
  padding-bottom:7px; 
}

form.signin .textbox span { 
  display:block;
}

form.signin p, form.signin span { 
  color:#999; 
  font-size:11px; 
  line-height:18px;
} 

form.signin .textbox input { 
  background:#666666; 
  border-bottom:1px solid #333;
  border-left:1px solid #000;
  border-right:1px solid #333;
  border-top:1px solid #000;
  color:#fff; 
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
  font:13px Arial, Helvetica, sans-serif;
  padding:6px 6px 4px;
  width:200px;
}

form.signin input:-moz-placeholder { color:#bbb; text-shadow:0 0 2px #000; }
form.signin input::-webkit-input-placeholder { color:#bbb; text-shadow:0 0 2px #000;  }

.button { 
  background: -moz-linear-gradient(center top, #f3f3f3, #dddddd);
  background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#dddddd));
  background:  -o-linear-gradient(top, #f3f3f3, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f3f3', EndColorStr='#dddddd');
  border-color:#000; 
  border-width:1px;
  border-radius:4px 4px 4px 4px;
  -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
  color:#333;
  cursor:pointer;
  display:inline-block;
  padding:6px 6px 4px;
  margin-top:10px;
  font:12px; 
  width:214px;
}
.hello{display: none;}

.button:hover { background:#ddd; }

    @media screen and (max-width:600px ) {
                      header nav {
                        width:80%;
                        height:100%;
                        left:-100%;
                        margin:0;
                        
                      }
                       #contlogo{
                        width: 40%;
                        position: relative;
                        top: 50px;
                        left: -8px;
                       }
                      #logoi{
                       
                        width: 100%;
                        position: relative;
                        bottom: 30px;
                        }
                        .hello{
                          display: block;
                          width: 90%;
                          border:5px solid red  ;                        }
                    .section2{
                    display: none;}

                      header nav ul li {
                        display:block;
                        float:none;
                        border-bottom:5px solid rgba(255,225,225 ,0.3);
                      

                      }
                    .menu_bar {
                        display:block;
                        width:100%;
                        background:#fff;

                        
                      }
                    .menu_bar .bt-menu {
                        display:block;
                        padding:20px 50px;
                        background:rgba(1, 142, 182, 0.5);
                        color:#fff;
                        text-decoration:none;
                        font-weight: bold;
                        font-size:25px;
                        -webkit-box-sizing:border-box;
                        -moz-box-sizing:border-box;
                        box-sizing:border-box;

                      }
                    .menu_bar span {
                        float:right;
                        font-size:40px;
                      }
                    #letrasmov{
                          position: relative;
                        top: -100px;
                        
                        width: 65%;
                        text-align: right;
                        font-size: 45px;
                        font-family: algerian;
                        
                        height: 70px;

                    }
                    .banner{
                      visibility: hidden;

                    }

                    #letas{
                      position: relative;
                      z-index: 100;
                      position: fixed;
                    }
} 
#letas{
  position: relative;
  z-index: 4;
  position: fixed;

}
@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(-50px)
    }

    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeIn2{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes enterleft{
    from{

        transform: translateX(10px)
    }

    to{

        transform: translateY(0px);
    }
}

@keyframes floating{
    from{

        transform: translateY(-5px)
    }

    to{
        transform: translateY(0px);
    }
  
}   
.LetraFNAV{
    display: block;
    animation: enterleft 1s ease infinite alternate;
    text-align: center;
    width: 80%;
    float: right;
    font-size: 80px;
    font-family: algerian;
    position: relative;
    right: 30px;
    height: 170px;
    bottom:  50px;
    color: #018eb6;
  

    

}
.section2 .parrafoses{
  padding: 20px;

}

.parrafo{
text-align: justify;
  color: rgba(37, 38, 40, 0.9);
  position: relative;
  bottom: 28px
}
#titulo{
  text-align: center;

  color: black;   
  position: relative;
  
  
}


 
  #doce{
  text-decoration: none;
  color: black; 
}
#doce:hover{
  text-decoration:underline;
  color:rgba(255,0,0, 0.7);
}

#boton13:hover{
  background: #000;
  color: #00c6ff;
}
#titulo{
  text-align: center;
  font-family: consolas;
  color: black;   
  position: relative;
  top: 10px;
  
}
 .parrafoses{
  text-align: justify;
  position: relative;
  bottom: 20px;
  color: black;   
  font-size: 21px;
}
.section2{ 

  background:rgba(1, 142, 182, 0.5);
  border: 1px solid #00c6ff;
  width: 45%;
  right: 30px;
  height: 70%;
  bottom: 20px;
  height: 50%;
  position: relative;
  border-radius: 20px;
  float: right;
}
 #users{
    width: 45%;
    position: relative;
    bottom: 30px;
    height: 25px;
    border-radius: 5px;
    display:block;
    margin:auto;
  }
 #passe{
  width: 45%;
    position: relative;
    bottom: 22px;
    height: 25px;
    border-radius: 5px;
    display:block;
    margin:auto;

  }
#boton13{
  width: 35%;
  height: 25px;
  background: #fff;
  
  border-radius: 5px;
  display:block;
  border: 1px solid #00c6ff;
  position: relative;
  bottom: 10px;
 
  
  margin:auto;
}
#holas{
  background:rgba(1, 142, 182, 0.5);
  border: 1px solid #00c6ff;
     position: relative;
     top: 100px;
     height: 70%;
      width: 85%;
      margin-right: auto;
      margin-left: auto;
  text-align: justify;

}
#xhao{
  width: 90%;
  height: .5%;
  
  display:block;
margin:auto;
margin:20px auto;
}#parrafosis{
    
    position: relative;
    top: 5px;
  }

#quien{
  font-family: consolas;

}
#holas #parrafosis{
  padding: 20px;
}
#title{
  color:white;
}
#ultimo{
  border: 2px solid #018eb6;
  position: relative;
  top: 100px;
  width: 30%;
  right: 160px;
  display: block;
   background:rgba(1, 142, 182, 0.5);
   margin-left: auto;
}
#bueenas{
  color: #fff;
  text-align: center;

}
.eleven{
  width: 50%;
  height: 80px;
  position: relative;
  left: 10px;
  top: 10px;

}
#botoncito{
  width: 20%;
  height: 70px;
  background: #fff;
  border: 1px solid #00c6ff;
  position: relative;
  left: 20px;
  top: 10px;
}
#botoncito:hover{
  background: #000;
  color: #00c6ff;
}
#img1{
  width: 25%;
  float: center;
  position: relative;
  animation: fadeIn2 3s ease infinite alternate;
  left:  160px;
  bottom: 40px;
}
footer{
  top: 20px;
  position: relative;
    width: 100%;
    height: 50PX; 
    text-align: center;
}

footer #finf ul #cont{
  color:#018eb6;
  padding:0px 20px;
  display: inline-block;
  text-decoration:none;


} hr{
  border: 1px solid #018eb6;
}