body{
	background-image: url("../img/lolo.jpg");
	background-repeat: no-repeat;
	display: fixed;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;

	
}


form{
	width:450px;
	margin: auto; overflow: hidden;
	background: rgba(0,0,0,0.4); 
}
 
div{
	color: #fff;
}
