*{
  border: 0px;
  margin: 0px;
  padding: 0px;
}

body{
  background: #737473;
}
/*Modelado de la Pagina Web*/
section.contenedor{
  background: #fff;
  height: 1050px;
  width: 1582px;
  margin-left: auto;
  margin-right: auto;
}

header{
  background: #444444;
  height: 120px;
  width: 1582px;
}

section.barra_navegacion{
  background: #696969;
  height: 50px;
  width: 1582px;
}

section.informacion{
  background: #444444 ;
  height: 400px;
  width: 1582px;
}

section.informacion2{
  background: #696980;
  height: 400px;
  width: 1582px;
}

footer{
  background: #444444;
  height: 80px;
  width: 1582px;
}

/*Encabezado (Logo - Titulo - Acceder)*/
header h1{
  font-family: inherit;
  font-size: 38px;
  color: #fff;
  position: relative;
  text-align: center;
  top: -65px;
}

header a.acceder{
  color: #fff;
  position: relative;
  top: -135px;
  left: 1494px;
  text-decoration: none;
  font-style: italic;
  font-size: 20px;
}

/*Barra de Navegacion*/
nav ul.navegacion{
  height: 50px;
  width: 1582px;
  display: inline-block;
  width: auto;
  background: #696969;
}

nav ul li{
  border: 0px;
  padding: 0px;
  display: inline-block;
  list-style: none;
}

nav ul li a{
  display: block;
  padding: 16px 108px;
  color: #FFF;
  text-decoration: none;
}

nav ul li a:hover{
  background-color: #71A094;
}

/*Informacion*/

section.informacion h1{
  font-family: cursive;
  font-style: normal;
  color: #fff;
  font-size: 30px;
  position: relative;
  top: 100px;
  margin-left: 18px;
}

section p.frase_1{
  font-family: sans-serif;
  font-style: oblique;
  color: #fff;
  font-size: 25px;
  position: relative;
  margin-left: 30px;
  top: 140px;
}

section p.autor{
  font-style: italic;
  color: #fff;
  font-size: 18px;
  position: relative;
  margin-left: 760px;
  top: 140px;
}

section img.imagen_redonda{
  height: 280px;
  width: 280px;
  border-radius: 300px;
  position: relative;
  margin-left: 1180px;
  top: -40px;
}
